:root {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Main Background Color */
  --main-bg-color: #121212; /* Deep Coal */

  /* Menu Background Variations */
  --menu-bg-dark-slate: #1C1C1C; /* Dark Slate */
  --menu-bg-charcoal: #252525; /* Charcoal Grey */
  --menu-bg-gunmetal: #2A2F3A; /* Gunmetal Grey */
  --menu-bg-pewter: #333940; /* Darkened Pewter */

  /* Text Colors */
  --primary-text-color: #E0E0E0; /* Light Grey for primary text */
  --secondary-text-color: #BBBBBB; /* Darker Grey for secondary text */

  /* Accent Colors */
  --accent-color-emerald: #2ecc71; /* Emerald Green */
  --accent-color-lapis: #2980b9; /* Lapis Lazuli Blue */
  --accent-color-redstone: #e74c3c; /* Redstone Red */
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
}